In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marsh Harbour,BS,2022-05-15 20:30:51,26.5412,-77.0636,80.366,68,7,2.89
1,1,San Luis,AR,2022-05-15 20:30:52,-33.2950,-66.3356,55.112,30,5,5.18
2,2,Lavrentiya,RU,2022-05-15 20:30:53,65.5833,-171.0000,32.234,79,42,5.29
3,3,Jamestown,US,2022-05-15 20:30:53,42.0970,-79.2353,81.518,50,0,2.57
4,4,Yellowknife,CA,2022-05-15 20:30:38,62.4560,-114.3525,54.122,35,75,5.66

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     550 non-null    int64
 1   City        550 non-null    object
 2   Country     545 non-null    object
 3   Date        550 non-null    object
 4   Lat         550 non-null    float64
 5   Lng         550 non-null    float64
 6   Max Temp    550 non-null    float64
 7   Humidity    550 non-null    int64
 8   Cloudiness  550 non-null    int64
 9   Wind Speed  550 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 43.1+ KB

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
#for temp in max_temp:
 #   temps.append(max(temp, 0))
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=600, point_radius=2)

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(15)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marsh Harbour,BS,2022-05-15 20:30:51,26.5412,-77.0636,80.366,68,7,2.89
3,3,Jamestown,US,2022-05-15 20:30:53,42.0970,-79.2353,81.518,50,0,2.57
5,5,Kapaa,US,2022-05-15 20:30:55,22.0752,-159.3190,79.124,78,20,4.63
9,9,Sola,VU,2022-05-15 20:30:58,-13.8833,167.5500,80.348,73,100,7.02
10,10,Atuona,PF,2022-05-15 20:30:58,-9.8000,-139.0333,78.278,77,12,7.81
17,17,Mitsamiouli,KM,2022-05-15 20:31:03,-11.3847,43.2844,80.006,71,7,3.37
20,20,Albany,US,2022-05-15 20:31:05,42.6001,-73.9662,78.944,88,35,2.31
30,30,Vaini,TO,2022-05-15 20:31:16,-21.2000,-175.2000,75.362,69,40,3.09
31,31,Rikitea,PF,2022-05-15 20:31:17,-23.1203,-134.9692,76.964,72,64,8.50
35,35,Namatanai,PG,2022-05-15 20:31:19,-3.6667,152.4333,79.718,75,87,1.14
45,45,Alexander City,US,2022-05-15 20:31:25,32.9440,-85.9539,88.196,45,0,2.57
47,47,Kavieng,PG,2022-05-15 20:32:27,-2.5744,150.7967,81.230,70,100,1.92
52,52,Fallon,US,2022-05-15 20:28:34,39.4735,-118.7774,85.442,12,40,3.60
54,54,Carauari,BR,2022-05-15 20:27:56,-4.8828,-66.8958,79.376,84,100,0.55
56,56,Hilo,US,2022-05-15 20:30:21,19.7297,-155.0900,83.282,69,20,3.13

In [11]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0   Marsh Harbour      BS    80.366  26.5412  -77.0636
3       Jamestown      US    81.518  42.0970  -79.2353
5           Kapaa      US    79.124  22.0752 -159.3190
9            Sola      VU    80.348 -13.8833  167.5500
10         Atuona      PF    78.278  -9.8000 -139.0333
17    Mitsamiouli      KM    80.006 -11.3847   43.2844
20         Albany      US    78.944  42.6001  -73.9662
30          Vaini      TO    75.362 -21.2000 -175.2000
31        Rikitea      PF    76.964 -23.1203 -134.9692
35      Namatanai      PG    79.718  -3.6667  152.4333

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
    
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Marsh Harbour,BS,80.366,26.5412,-77.0636,Abaco Beach Resort
3,Jamestown,US,81.518,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,Kapaa,US,79.124,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Sola,VU,80.348,-13.8833,167.5500,Leumerus Bungalows
10,Atuona,PF,78.278,-9.8000,-139.0333,Villa Enata
17,Mitsamiouli,KM,80.006,-11.3847,43.2844,Foyer ADM
20,Albany,US,78.944,42.6001,-73.9662,
30,Vaini,TO,75.362,-21.2000,-175.2000,Keleti Beach Resort
31,Rikitea,PF,76.964,-23.1203,-134.9692,People ThankYou
35,Namatanai,PG,79.718,-3.6667,152.4333,Seagulls Inn Namatani
45,Alexander City,US,88.196,32.9440,-85.9539,Hampton Inn Alexander City
47,Kavieng,PG,81.230,-2.5744,150.7967,Nusa Island Retreat
52,Fallon,US,85.442,39.4735,-118.7774,Best Western Fallon Inn & Suites
54,Carauari,BR,79.376,-4.8828,-66.8958,Hotel Fellip
56,Hilo,US,83.282,19.7297,-155.0900,Hilo Hawaiian Hotel

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))